body {
    /* background-color: #ecf5ed; */
    background-color: #f1f7f7;
}

img {
    width: 20%;
    height: auto;
}

hr {
    border-style: none;
    border-top-style:dotted;
    border-width: 0.6em;
    border-color: #d8dfda;
    width: 7%;
}

h1 {
    color: #4d7176;
    font-size: 5em;
    font-family: "Sofia", sans-serif;
    font-weight: 900;
}

h2 {
    color: #205a64;
    font-size: 3em;
    font-family: 'League Spartan', sans-serif;
}

h3 {
    color: #607f83;
    font-size: 2.5em;
    font-family: 'Libre Baskerville', serif;
}